@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  position: fixed;
  inset: 0;
  background-image: url("images/background.png");
  align-items: center;
  justify-content: center;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 0;
  width: 65vw;
  height: 75vh;
  background-color: white;
  border-radius: 50px;
  display: flex;
  position: relative;
  padding-inline: 4vw;
}

.form,
.map {
  flex: 1;
  width: 50%;
}

.form {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  padding-block: 4vw;
  position: relative; /* vot tut*/
}

.form::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main-logo img {
  width: 100%;
}

.map {
  padding-block: 4%;
  display: flex;
  position: relative;
  z-index: 2;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.flag {
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 25%;
  height: 66%;
  z-index: 1;
}

.red-stripe {
  width: 100%;
  height: 50%;
  background-color: rgba(242, 56, 44, 1);
  border-radius: 0 0 50px 0;
}

.blue-stripe {
  width: 100%;
  height: 50%;
  background-color: rgba(18, 84, 141, 1);
}

.info-container {
  width: calc(100% - 4vw);
}

.info-container:not(:last-child) {
  margin-bottom: 4vw;
}

h1,
.success-message {
  color: rgba(45, 104, 155, 1);
  font-size: 1.6vw;
  font-weight: 600;
  margin-top: 0;
  line-height: 1.2;
}

.success-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  row-gap: 1vw;
  position: absolute;
  top: 50%;
  bottom: 50%;
}

.little-span {
  font-size: 1.3vw;
}

.info-container.success-message {
  display: none;
}

p {
  font-size: 0.8vw;
  font-weight: 300;
  letter-spacing: 1%;
  text-align: justify;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

.type-buttons-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.85vw;
  row-gap: 0.85vw;
}

.type-button,
input,
.send-button,
.custom-dropdown {
  font-size: 1.2vw;
}

.type-button {
  color: rgba(46, 2, 73, 0.3);
  font-weight: medium;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  border: 2px solid rgba(46, 2, 73, 0.3);
  border-width: 0.155vw;
  border-radius: 0.425vw;
  padding-block: 0.75vw;
  padding-inline: 0.9vw;
}

.button-selected {
  background-color: rgba(45, 104, 155, 1);
  border-color: rgba(45, 104, 155, 1);
  color: rgba(238, 238, 238, 1);
}

input {
  padding: 0;
  border: none;
  border-bottom: 3px solid rgba(46, 2, 73, 0.3);
  color: rgba(46, 2, 73, 0.3);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: transparent;
}

input:not(:last-child) {
  margin-bottom: 3.8vw;
}

input::placeholder {
  color: currentColor;
}

input:focus {
  outline: none;
  border-color: rgba(0, 71, 133, 1);
  color: rgba(0, 71, 133, 1);
}

input:focus::placeholder {
  color: currentColor;
}

.send-button {
  background-color: rgba(45, 104, 155, 1);
  width: 100%;
  padding-block: 1.36vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.85vw;
  cursor: pointer;
  display: flex;
}

.send-button:hover {
  cursor: pointer;
}

.send-button-text {
  margin: 0;
  color: rgba(238, 238, 238, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.send-button svg {
  margin: 0;
  margin-right: 9%;
  width: 1.4vw;
}

ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  column-gap: 10%;
  margin-block: 0;
}

.contacts p {
  font-size: 0.74vw;
  margin: 0;
  font-weight: 600;
}

.contacts a {
  font-size: 0.74vw;
  font-weight: 400;
  color: rgba(240, 24, 10, 1);
}

.contacts img {
  width: 2vw;
}

.contact {
  display: flex;
  flex-direction: column;
}

.custom-dropdown {
  position: relative;
  width: 100%;
  color: rgba(46, 2, 73, 0.3);
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin-top: 4px;
}  

.custom-dropdown .options-list {
  display: none;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  background-color: white;
  max-height: 25vw;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

  z-index: 10;
}

.custom-dropdown .options-list li {
  display: flex;
  align-items: center;
  padding: 0.5vw;
  border: none;
}

.custom-dropdown .options-list li .location-icon {
  width: 2vw;
  margin-right: 0.5vw;
}

.options-list {
  border-radius: 0.425vw;
  border: 3px solid rgba(46, 2, 73, 0.3);
} 

/* .selected-option {
  padding-block: 0.75vw;
} */

.custom-dropdown .arrow {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.6em;
  margin-right: 0.3em;
  width: 0.7vw;
  pointer-events: none;
}

.custom-dropdown .selected-option:focus + .arrow path {
  stroke: rgba(0, 71, 133, 1);
  stroke-opacity: 1;
  transform: rotate(180deg);
  transform-origin: center;
}

@media (max-width: 1000px) {
  body {
    padding: 4%;
    background-image: none;
    background-color: #f5f5f5;
    align-items: start;
    margin: 0;
  }

  .container {
    padding: 0;
    border-radius: 25px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
  }

  .form {
    padding: 12%;
    margin: 0;
  }

  .info-container {
    width: 100%;
  }

  .map {
    display: none;
  }

  .flag {
    display: none;
  }

  h1 {
    font-size: 4.1vw;
  }

  p {
    font-size: 1.9vw;
  }

  .type-button,
  input,
  .send-button,
  .custom-dropdown {
    font-size: 2.73vw;
  }

input {
  width: 100%;
}

  input, 
  .custom-dropdown .selected-option,
  .custom-dropdown .options-list {
    border-width: 2px;
  }

  .custom-dropdown .options-list {
    border-radius: 1.09vw;
  }

  input:not(:last-child) {
    margin-bottom: 8vw;
  }

  .custom-dropdown .arrow {
    width: 0.7em;
  }

  .custom-dropdown .options-list li .location-icon {
    width: 3.2vw;
  }

  .contacts p,
  .contacts a {
    font-size: 1.78vw;
    margin: 0;
  }

  .contacts img {
    width: 5vw;
  }

  .send-button {
    border-radius: 2.18vw;
    padding-block: 3.28vw;
  }

  .type-buttons-container {
    row-gap: 2.18vw;
    column-gap: 2.18vw;
  }

  .type-button {
    border-radius: 1.09vw;
    padding-block: 1.5vw;
    padding-inline: 2.5vw;
    border-width: 0.4vw;
  }

  .send-button {
    padding-block: 3.2vw;
  }

  .send-button svg {
    width: 3vw;
  }

  .info-container:not(:last-child) {
    margin-bottom: 10vw;
  }

}
